<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon & Title -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>educloud</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
</head>

<body>
    <div class="main-wrpper blogpg-detailswrp">

        <!-- Header -->
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="normallg" />
                        <img src="{{ url_for('static', filename='images/logo2.svg') }}" alt="Logo" class="bluelg" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#NavbarToggle" aria-controls="NavbarToggle" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="NavbarToggle">
                        <ul class="navbar-nav d-none d-lg-flex">
                            <li><a class="nav-link" href="/index">Home</a></li>
                            <li><a class="nav-link" href="/about">About</a></li>
                            <li><a class="nav-link" href="/courses">Courses</a></li>
                            <!-- <li><a class="nav-link" href="/jobs">Jobs</a></li> -->
                            <li><a class="nav-link" href="/gallery">Gallery</a></li>
                            <li><a class="nav-link active" href="/blog">Blog</a></li>
                        </ul>
                        <ul class="navbar-nav d-none d-lg-flex">
                            <li class="loginbtn">
                                <a class="nav-link" href="login">Login</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav d-lg-none">
                            <li><a class="nav-link" href="/">Home</a></li>
                            <li><a class="nav-link" href="/about">About</a></li>
                            <li><a class="nav-link" href="/courses">Courses</a></li>
                            <!-- <li><a class="nav-link" href="/jobs">Jobs</a></li> -->
                            <li><a class="nav-link" href="/gallery">Gallery</a></li>
                            <li><a class="nav-link active" href="/blog">Blog</a></li>
                            <li class="loginbtn">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->

        <!-- Blog Banner -->
        <section class="blog-banner">
            <div class="container">
                <div class="blog-banner-row">
                    <h1>Blog</h1>

                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/blog">Blogs</a></li>
                        <li>Blog Details</li>
                    </ul>

                    <img src="{{ url_for('static', filename='images/blog-baner-shp1.svg') }}" alt="" class="blogbnsh1">
                    <img src="{{ url_for('static', filename='images/blog-baner-shp2.svg') }}" alt="" class="blogbnsh2">
                </div>
            </div>
            <img src="{{ url_for('static', filename='images/blog-shp.svg') }}" alt="" class="blogbnsh3">

        </section>
        <!-- End Blog Banner -->

        <!-- Blog Details -->
        <section class="blog-detailswrp">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="blog-details-block">
                            <div class="detaills-info-mbl">
                                <div class="searchbox">
                                    <input type="text" name="" placeholder="Search" class="form-control">
                                    <button><i class="far fa-search fa-fw"></i></button>
                                </div>
                                <div class="share-bx">
                                    <a href="#"><i class="fab fa-facebook fa-fw"></i></a>
                                    <a href="#"><i class="fab fa-twitter fa-fw"></i></a>
                                    <a href="#"><i class="fab fa-instagram fa-fw"></i></a>
                                </div>
                            </div>

                            <div class="blog-details-img">
                                <img src="{{ url_for('static', filename='images/blog-main-img1.png') }}" alt="">
                            </div>

                            <h2>CCNA TRAINEE … WE GAAN WEER VAN START!</h2>
                            <ul>
                                <li>Marketing Consulting</li>
                                <li>June 9, 2022</li>
                            </ul>

                            <div class="blog-details-img mobilecover">
                                <img src="{{ url_for('static', filename='images/blog-main-img1.png') }}" alt="">
                            </div>

                            <p>Glasvezel verbindt ons met elkaar en vormt zo onze digitale en iedere dag bouwt onze
                                opdrachtgever dit netwerk een stukje verder uit. Ongemerkt is het glasvezelnetwerk
                                overal aanwezig; alle nieuwe gadgets zoals een slimme koelkast; data streamen met je
                                mobiele zijn allemaal uitingen die er zijn dankzij dit netwerk. We zijn op zoek naar
                                enthousiaste mensen die willen instromen als Young bij onze , je een project waarbij
                                alle afdelingen leert kennen, na 10 maanden start jeafdeling je thuishoort!</p>

                            <h3>“Situatie: Het Network en Security Operations Center houdt het netwerk en de
                                dienstverlening van onze opdrachtgever in Nederland 24/7 in de gaten en coördineert”
                            </h3>

                            <p>Glasvezel verbindt ons met elkaar en vormt zo onze digitale en iedere dag bouwt onze
                                opdrachtgever dit netwerk een stukje verder uit. Ongemerkt is het glasvezelnetwerk
                                overal aanwezig; alle nieuwe gadgets zoals een slimme koelkast. Glasvezel verbindt ons
                                met elkaar en vormt zo onze digitale en iedere dag bouwt onze opdrachtgever dit netwerk
                                een stukje verder uit. Ongemerkt is het </p>

                            <div class="share-bx">
                                <h6>Share</h6>
                                <a href="#"><i class="fab fa-facebook fa-fw"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-fw"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="blog-sidebar">
                            <div class="searchbox">
                                <input type="text" name="" placeholder="Search" class="form-control">
                                <button><i class="far fa-search fa-fw"></i></button>
                            </div>

                            <div class="populer-post">
                                <h3>Popular Post</h3>

                                <ul>
                                    <li><a href="#">
                                            <div class="post-img">
                                                <img src="{{ url_for('static', filename='images/popular-main-img1.png') }}"
                                                    alt="">
                                            </div>
                                            <div class="post-nm">
                                                <h4>CCNA TRAINEE … WE GAAN WEER VAN START!</h4>
                                                <h6>Jan 25, 2022</h6>
                                            </div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="post-img">
                                                <img src="{{ url_for('static', filename='images/popular-main-img2.png') }}"
                                                    alt="">
                                            </div>
                                            <div class="post-nm">
                                                <h4>CCNA TRAINEE … WE GAAN WEER VAN START!</h4>
                                                <h6>Jan 25, 2022</h6>
                                            </div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="post-img">
                                                <img src="{{ url_for('static', filename='images/popular-main-img3.png') }}"
                                                    alt="">
                                            </div>
                                            <div class="post-nm">
                                                <h4>CCNA TRAINEE … WE GAAN WEER VAN START!</h4>
                                                <h6>Jan 25, 2022</h6>
                                            </div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="post-img">
                                                <img src="{{ url_for('static', filename='images/popular-main-img4.png') }}"
                                                    alt="">
                                            </div>
                                            <div class="post-nm">
                                                <h4>CCNA TRAINEE … WE GAAN WEER VAN START!</h4>
                                                <h6>Jan 25, 2022</h6>
                                            </div>
                                        </a></li>
                                </ul>
                            </div>

                            <div class="populer-post">
                                <h3>Popular Tags</h3>

                                <div class="populer-tags">
                                    <a href="#">Consultion</a>
                                    <a href="#">Design</a>
                                    <a href="#">Design</a>
                                    <a href="#">Programm</a>
                                    <a href="#">Design</a>
                                    <a href="#">Consultion</a>
                                    <a href="#">Design</a>
                                    <a href="#">Programm</a>
                                    <a href="#">Consultion</a>
                                    <a href="#">Design</a>
                                    <a href="#">Programm</a>
                                    <a href="#">Consultion</a>
                                    <a href="#">Design</a>
                                    <a href="#">Programm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-wrp">
            <div class="container">
                <div class="contact-block">
                    <h2>Contact Us</h2>

                    <form>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Full Name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Type Your Email Address" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Type Your Message"
                                        required></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn-main" type="submit">Submit now</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Blog Details -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="footer-cnt">
                            <img src="{{ url_for('static', filename='images/footer-logo.svg') }}" alt="">

                            <p>Educloud wordt beheerd vanuit Rotterdam.
                            </p>

                            <div class="f-cntbx">
                                <h6>Phone</h6>
                                <a href="tel:85558155656">
                                    <h3>+31 558 155 656</h3>
                                </a>
                            </div>

                            <div class="f-cntbx">
                                <h6>Email address</h6>
                                <a href="mailto:Contact@educlode.com">
                                    <h3>info@educlouduniversity.com</h3>
                                </a>
                            </div>

                            <div class="quicklinks">
                                <ul>
                                    <li><a href="/online-training">Online training</a></li>
                                    <li><a href="/platform">Platform</a></li>
                                    <li><a href="/certification">Certification</a></li>
                                    <li><a href="/team">Teams</a></li>
                                    <li><a href="/solutions">Build solutions</a></li>
                                    <li><a href="/full-it-stack">Full IT Stack</a></li>
                                    <li><a href="/jobs">Jobs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="footer-contact">
                            <h3>Neem contact op</h3>
                            <p>Benieuwd wat Educloud voor jou kan betekenen?
                                Vul voor vragen of verzoeken onderstaand formulier in.
                            </p>

                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="" placeholder="Full Name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="" placeholder="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Messages" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn-main">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="mobile-footer">
                    <div class="social-bx">
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social1.svg') }}"
                                alt=""></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social2.svg') }}"
                                alt=""></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social3.svg') }}"
                                alt=""></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social4.svg') }}"
                                alt=""></a>

                    </div>
                    <div class="tersm">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>All Rights Reserved © educloud 2023 </p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="social-bx">
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social1.svg') }}" alt=""></a>
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social2.svg') }}" alt=""></a>
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social3.svg') }}" alt=""></a>
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social4.svg') }}" alt=""></a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="tersm">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Go To Top -->
        <button id="myBtn" title="Go to top"><i class="fal fa-angle-up" aria-hidden="true"></i></button>
    </div>

    <!-- script -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- End script -->
</body>

</html>