<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon & Title -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>educloud</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
</head>

<body>
    <div class="main-wrpper">

        <!-- Header -->
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="normallg" />
                        <img src="{{ url_for('static', filename='images/logo2.svg') }}" alt="Logo" class="bluelg" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#NavbarToggle" aria-controls="NavbarToggle" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="NavbarToggle">
                        <ul class="navbar-nav d-none d-lg-flex">
                            <li><a class="nav-link" href="/index">Home</a></li>
                            <li><a class="nav-link" href="/about">About</a></li>
                            <li><a class="nav-link" href="/courses">Courses</a></li>
                            <!-- <li><a class="nav-link" href="/jobs">Jobs</a></li> -->
                            <li><a class="nav-link" href="/gallery">Gallery</a></li>
                            <li><a class="nav-link active" href="/blog">Blog</a></li>
                        </ul>
                        <ul class="navbar-nav d-none d-lg-flex">
                            <li class="loginbtn">
                                <a class="nav-link" href="login">Login</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav d-lg-none">
                            <li><a class="nav-link" href="/">Home</a></li>
                            <li><a class="nav-link" href="/about">About</a></li>
                            <li><a class="nav-link" href="/courses">Courses</a></li>
                            <!-- <li><a class="nav-link" href="/jobs">Jobs</a></li> -->
                            <li><a class="nav-link" href="/gallery">Gallery</a></li>
                            <li><a class="nav-link active" href="/blog">Blog</a></li>
                            <li class="loginbtn">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->

        <!-- Blog Banner -->
        <section class="blog-banner">
            <div class="container">
                <div class="blog-banner-row">
                    <h1>Blog</h1>

                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Blog</li>
                    </ul>

                    <img src="{{ url_for('static', filename='images/blog-baner-shp1.svg') }}" alt="" class="blogbnsh1">
                    <img src="{{ url_for('static', filename='images/blog-baner-shp2.svg') }}" alt="" class="blogbnsh2">
                </div>
            </div>
            <img src="{{ url_for('static', filename='images/blog-shp.svg') }}" alt="" class="blogbnsh3">

            <div class="mobile-shp">
                <img src="{{ url_for('static', filename='images/vac-mshp1.svg') }}" alt="" class="vac-mbshp1">
                <img src="{{ url_for('static', filename='images/blog-mshp2.svg') }}" alt="" class="vac-mbshp2">
                <img src="{{ url_for('static', filename='images/blog-mshp3.svg') }}" alt="" class="vac-mbshp3">
                <img src="{{ url_for('static', filename='images/blog-mshp4.svg') }}" alt="" class="vac-mbshp4">
            </div>
        </section>
        <!-- End Blog Banner -->

        <!-- Blog Listing -->
        <section class="blog-listing-wrp">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img src="{{ url_for('static', filename='images/blog-img1.jpg') }}" alt="">
                            </div>
                            <div class="blog-shortdt">
                                <ul>
                                    <li>Marketing Consulting</li>
                                    <li>June 9, 2022</li>
                                </ul>

                                <h2>OPLEIDING CLOUD ENGINEER: OVERZICHT CERTIFICERINGEN EN EXAMENS</h2>
                                <p>Even een update in de vakantietijd, we hebben sowieso een aantal vacatures open zoals
                                    netwerk engineer, delivery medewerkers en netwerksupport zowel in Noord-Holland,
                                    Utrecht en Zuid-Holland. Verder bereiden we onsaantal grote projecten..</p>

                                <a href="/blog-details"><span>Read Now</span> <i
                                        class="far fa-arrow-right fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img src="{{ url_for('static', filename='images/blog-img2.jpg') }}" alt="">
                            </div>
                            <div class="blog-shortdt">
                                <ul>
                                    <li>Marketing Consulting</li>
                                    <li>June 9, 2022</li>
                                </ul>

                                <h2>CCNA TRAINEE … WE GAAN WEER VAN START!</h2>
                                <p>Even een update in de vakantietijd, we hebben sowieso een aantal vacatures open zoals
                                    netwerk engineer, delivery medewerkers en netwerksupport zowel in Noord-Holland,
                                    Utrecht en Zuid-Holland. Verder bereiden we onsaantal grote projecten..</p>

                                <a href="/blog-details"><span>Read Now</span> <i
                                        class="far fa-arrow-right fa-fw"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img src="{{ url_for('static', filename='images/blog-img3.jpg') }}" alt="">
                            </div>
                            <div class="blog-shortdt">
                                <ul>
                                    <li>Marketing Consulting</li>
                                    <li>June 9, 2022</li>
                                </ul>

                                <h2>TRAINEES GEZOCHT VOOR CISCO/JUNOS EN LINUX LEERTRAJECT</h2>
                                <p>Even een update in de vakantietijd, we hebben sowieso een aantal vacatures open zoals
                                    netwerk engineer, delivery medewerkers en netwerksupport zowel in Noord-Holland,
                                    Utrecht en Zuid-Holland. Verder bereiden we onsaantal grote projecten..</p>

                                <a href="/blog-details"><span>Read Now</span> <i
                                        class="far fa-arrow-right fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img src="{{ url_for('static', filename='images/blog-img4.jpg') }}" alt="">
                            </div>
                            <div class="blog-shortdt">
                                <ul>
                                    <li>Marketing Consulting</li>
                                    <li>June 9, 2022</li>
                                </ul>

                                <h2>OPLEIDING CLOUD ENGINEER: OVERZICHT CERTIFICERINGEN EN EXAMENS</h2>
                                <p>Even een update in de vakantietijd, we hebben sowieso een aantal vacatures open zoals
                                    netwerk engineer, delivery medewerkers en netwerksupport zowel in Noord-Holland,
                                    Utrecht en Zuid-Holland. Verder bereiden we onsaantal grote projecten..</p>

                                <a href="/blog-details"><span>Read Now</span> <i
                                        class="far fa-arrow-right fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="javascript:void(0);" class="btn-main">Load more</a>

                <div class="populer-onthis">
                    <h2>Pouplar Of this Week</h2>
                    <h6>Read Popular articles & blog posts on the Internet and know about Network 31.</h6>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="populer-blogs">
                                <div class="populer-img">
                                    <img src="{{ url_for('static', filename='images/populer-img1.jpg') }}" alt="">
                                </div>
                                <div class="populer-dt">
                                    <h3>YOUNG PROFESSIONAL TRAJECT</h3>
                                    <p>How many times bismillah repeated in Quran? “In the name of God the most
                                        merciful...</p>

                                    <a href="/blog-details"><span>Read Now</span> <i
                                            class="far fa-arrow-right fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="populer-blogs">
                                <div class="populer-img">
                                    <img src="{{ url_for('static', filename='images/populer-img2.jpg') }}" alt="">
                                </div>
                                <div class="populer-dt">
                                    <h3>LINUX TRAINEE “WE GAAN FRIS VAN START”</h3>
                                    <p>How many times bismillah repeated in Quran? “In the name of God the most
                                        merciful...</p>

                                    <a href="/blog-details"><span>Read Now</span> <i
                                            class="far fa-arrow-right fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="populer-blogs">
                                <div class="populer-img">
                                    <img src="{{ url_for('static', filename='images/populer-img3.jpg') }}" alt="">
                                </div>
                                <div class="populer-dt">
                                    <h3>CCNA TRAINEE … WE GAAN WEER VAN START!</h3>
                                    <p>How many times bismillah repeated in Quran? “In the name of God the most
                                        merciful...</p>

                                    <a href="/blog-details"><span>Read Now</span> <i
                                            class="far fa-arrow-right fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="populer-blogs">
                                <div class="populer-img">
                                    <img src="{{ url_for('static', filename='images/populer-img4.png') }}" alt="">
                                </div>
                                <div class="populer-dt">
                                    <h3>TOP AVOND VOOR NETWORK31</h3>
                                    <p>How many times bismillah repeated in Quran? “In the name of God the most
                                        merciful...</p>

                                    <a href="/blog-details"><span>Read Now</span> <i
                                            class="far fa-arrow-right fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="javascript:void(0);" class="btn-main">Load more</a>
                </div>
            </div>
        </section>
        <!-- End Blog Listing -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="footer-cnt">
                            <img src="{{ url_for('static', filename='images/footer-logo.svg') }}" alt="">

                            <p>Educloud wordt beheerd vanuit Rotterdam.
                            </p>

                            <div class="f-cntbx">
                                <h6>Phone</h6>
                                <a href="tel:85558155656">
                                    <h3>+31 558 155 656</h3>
                                </a>
                            </div>

                            <div class="f-cntbx">
                                <h6>Email address</h6>
                                <a href="mailto:Contact@educlode.com">
                                    <h3>info@educlouduniversity.com</h3>
                                </a>
                            </div>

                            <div class="quicklinks">
                                <ul>
                                    <li><a href="/online-training">Online training</a></li>
                                    <li><a href="/platform">Platform</a></li>
                                    <li><a href="/certification">Certification</a></li>
                                    <li><a href="/team">Teams</a></li>
                                    <li><a href="/solutions">Build solutions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="footer-contact">
                            <h3>Neem contact op</h3>
                            <p>Benieuwd wat Educloud voor jou kan betekenen?
                                Vul voor vragen of verzoeken onderstaand formulier in.
                            </p>

                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="" placeholder="Full Name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="" placeholder="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Messages" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn-main">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="mobile-footer">
                    <div class="social-bx">
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social1.svg') }}"
                                alt=""></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social2.svg') }}"
                                alt=""></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social3.svg') }}"
                                alt=""></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', filename='images/social4.svg') }}"
                                alt=""></a>

                    </div>
                    <div class="tersm">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>All Rights Reserved © educloud 2023</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="social-bx">
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social1.svg') }}" alt=""></a>
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social2.svg') }}" alt=""></a>
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social3.svg') }}" alt=""></a>
                            <a href="#" target="_blank"><img
                                    src="{{ url_for('static', filename='images/social4.svg') }}" alt=""></a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="tersm">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Go To Top -->
        <button id="myBtn" class="myBtn" title="Go to top"><i class="fal fa-angle-up" aria-hidden="true"></i></button>
    </div>

    <!-- script -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- End script -->
</body>

</html>