<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tag -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon & Title -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />
    <title>educloud</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-seperate.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/responsive-seperate.css') }}"
    />
  </head>

  <body>
    <div class="main-wrpper">
      <!-- Header -->
      <header class="header">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
              <img
                src="{{ url_for('static', filename='images/logo.svg') }}"
                alt="Logo"
                class="normallg"
              />
              <img
                src="{{ url_for('static', filename='images/logo2.svg') }}"
                alt="Logo"
                class="bluelg"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#NavbarToggle"
              aria-controls="NavbarToggle"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="NavbarToggle">
              <ul class="navbar-nav d-none d-lg-flex">
                <li><a class="nav-link" href="/index">Home</a></li>
                <li><a class="nav-link" href="/about">About</a></li>
                <li><a class="nav-link" href="/courses">Courses</a></li>
                <!-- <li><a class="nav-link active" href="/jobs">Jobs</a></li> -->
                <li><a class="nav-link" href="/gallery">Gallery</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
              </ul>
              <ul class="navbar-nav d-none d-lg-flex">
                <li class="loginbtn">
                  <a class="nav-link" href="login">Login</a>
                </li>
              </ul>

              <ul class="navbar-nav d-lg-none">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/about">About</a></li>
                <li><a class="nav-link" href="/courses">Courses</a></li>
                <!-- <li><a class="nav-link active" href="/jobs">Jobs</a></li> -->
                <li><a class="nav-link" href="/gallery">Gallery</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li class="loginbtn">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header -->

      <!-- Banner -->
      <section class="banner-wrapper courses-banner jobs-banner">
        <div class="container">
          <div class="row">
            <!-- <div class="col-md-6 col-sm-12 jobs-banner-content"> -->
            <div class="col-12 jobs-banner-content">
              <div class="banner-data">
                <h1>Full IT Stack <br />Jobs</h1>
                <h5>
                  According to the Central Bureau of Statistics, 28,000 ICT jobs
                  were open in the 1st quarter of 2023.
                </h5>
              </div>
            </div>
            <!-- <div class="col-md-6 col-sm-12">
              <div class="jobs-banner-img">
                <img
                  src="{{ url_for('static', filename='images/jobs_bg1.png') }}"
                  alt=""
                  class="main-img d-none d-md-block"
                />
                <img
                  src="{{ url_for('static', filename='images/jobs_side_img_1.png') }}"
                  alt=""
                  class="main-img d-md-none"
                />
                <img src="../static/images/jobs_side_img_1.png" alt="" class="main-img"/>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Banner -->

      <!-- ICT Jobs Section -->
      <section class="ict-jobs-section jobs-wrp">
        <div class="container">
          <h2>Most requested <span>ICT Jobs</span></h2>
<!-- 
          <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="card carousel-item">
                <img src="../static/images/ict-jobs-img1.png" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ICT SERVICE <br> DESK</h5>
                    <p class="card-text">Navigating the path to success by connecting talent with opportunity</p>
                </div>
              </div>

              <div class="card carousel-item">
                <img src="../static/images/ict-jobs-img2.png" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ICT <br> ADMINISTRATORS</h5>
                    <p class="card-text">Managing technology seamlessly for a connected tomorrow</p>
                </div>
              </div>

              <div class="card carousel-item">
                <img src="../static/images/ict-jobs-img3.png" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DATA <br> SCIENTIST</h5>
                    <p class="card-text">Transforming raw data into intelligence, your Data Scientist in action</p>
                </div>
              </div>

              <div class="card carousel-item">
                <img src="../static/images/ict-jobs-img4.png" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ICT <br> CONSULTANT</h5>
                    <p class="card-text">Your trusted advisor in the world of information and communication technology</p>
                </div>
              </div>
              <div class="card carousel-item">
                <img src="../static/images/ict-jobs-img2.png" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DATA <br> SCIENTIST</h5>
                    <p class="card-text">Transforming raw data into intelligence, your Data Scientist in action</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
           -->

          <div class="owl-carousel">
            <div class="card">
              <img src="../static/images/ict-jobs-img1.jpg" class="d-block w-100 h-50" alt="...">
              <div class="card-body">
                  <h5 class="card-title">ICT SERVICE <br> DESK</h5>
                  <p class="card-text">Navigating the path to success by connecting talent with opportunity</p>
              </div>
            </div>

            <div class="card">
              <img src="../static/images/ict-jobs-img2.jpg" class="d-block w-100 h-50" alt="...">
              <div class="card-body">
                  <h5 class="card-title">ICT <br> ADMINISTRATORS</h5>
                  <p class="card-text">Managing technology seamlessly for a connected tomorrow</p>
              </div>
            </div>

            <div class="card">
              <img src="../static/images/ict-jobs-img3.jpg" class="d-block w-100 h-50" alt="...">
              <div class="card-body">
                  <h5 class="card-title">DATA <br> SCIENTIST</h5>
                  <p class="card-text">Transforming raw data into intelligence, your Data Scientist in action</p>
              </div>
            </div>

            <div class="card">
              <img src="../static/images/ict-jobs-img5.jpg" class="d-block w-100 h-50" alt="...">
              <div class="card-body">
                  <h5 class="card-title">SOFTWARE <br> DEVELOPER</h5>
                  <p class="card-text">Transforming raw data into intelligence, your Data Scientist in action</p>
              </div>
            </div>

            <div class="card">
              <img src="../static/images/ict-jobs-img4.jpg" class="d-block w-100 h-50" alt="...">
              <div class="card-body">
                  <h5 class="card-title">ICT <br> CONSULTANT</h5>
                  <p class="card-text">Transforming raw data into intelligence, your Data Scientist in action</p>
              </div>
            </div>

            <div class="card">
              <img src="../static/images/ict-jobs-img6.jpg" class="d-block w-100 h-50" alt="...">
              <div class="card-body">
                  <h5 class="card-title">DATABASE <br> SPECIALIST</h5>
                  <p class="card-text">Transforming raw data into intelligence, your Data Scientist in action</p>
              </div>
            </div>
            
          </div>

          <!-- <div class="row card-block-section">
            <div class="col-12 col-sm-8 col-md-auto card-block">
              <div>
                <h6>ON MBO LEVEL</h6>
                <div class="card-point">
                  <img
                    src="{{ url_for('static', filename='images/jobs_block1_ic1.svg') }}"
                  />
                  <p>ICT Service Desk</p>
                </div>
                <div class="card-point">
                  <img
                    src="{{ url_for('static', filename='images/jobs_block1_ic2.svg') }}"
                  />
                  <p>ICT Administrator</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-8 col-md-auto card-block">
              <div class="type1">
                <h6>ON HBO LEVEL</h6>
                <div class="block d-none d-md-flex">
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic1.svg') }}"
                    />
                    <p>Data Scientist</p>
                  </div>
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic2.svg') }}"
                    />
                    <p>ICT Consultant</p>
                  </div>
                </div>

                <div class="block d-none d-md-flex">
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic3.svg') }}"
                    />
                    <p>Software Developer</p>
                  </div>
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic4.svg') }}"
                    />
                    <p>Database Specialist</p>
                  </div>
                </div>

                <div class="block d-md-none">
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic1.svg') }}"
                    />
                    <p>Data Scientist</p>
                  </div>
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic3.svg') }}"
                    />
                    <p>Software Developer</p>
                  </div>
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic2.svg') }}"
                    />
                    <p>ICT Consultant</p>
                  </div>
                  <div class="card-point">
                    <img
                      src="{{ url_for('static', filename='images/jobs_block2_ic4.svg') }}"
                    />
                    <p>Database Specialist</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
           -->
          <h5>
            Non-technical professions such as project & business management are
            not included. These form the bulk of the applications because these
            professions can be widely used. In our processes, we train
            participants to be able to
            <span>fill the above vacancies.</span> This also applies to project
            & business professions.
          </h5>
        </div>
      </section>
      <!-- IT Jobs Section -->

      <!-- End ICT Jobs Section -->
      <section class="it-jobs-section jobs-wrp">
        <div class="container">
          <h2>Full Stack <span>IT Jobs</span></h2>
          <div class="video-box">
            <img
              src="{{ url_for('static', filename='images/jobs_vertical_matrix.png') }}"
              alt=""
              class="side-img d-none d-md"
            />
            <div class="tab-video video-block">
              <a href="javascript:void(0);" class="play"></a>
              <div class="video">
                <video
                  class="video-div"
                  poster="{{ url_for('static', filename='images/jobs_video_thumbnail.jpg') }}"
                >
                  <source
                    src="https://bluesite.azureedge.net/demo-video.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="https://bluesite.azureedge.net/demo-video.mp4"
                    type="video/ogg"
                  />
                </video>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End IT Jobs Section -->

      <!-- Full IT Stack Roles -->
      <section class="full-stack-wrp roles">
        <div class="container">
          <h2>Explore different roles as<br /><span>"Full IT Stack"</span></h2>

          <!-- Desktop Version -->
          <div class="roles-card-section d-none d-md-flex">
            <!-- Card #1 -->
            <div class="full-stack-roles-blocks">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic1.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>ICT Service Desk - <span>MBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  An IT service desk employee provides technical support to
                  users and registers incidents. They coordinate and guide users
                  in IT use and ensure satisfaction through follow-up of
                  outstanding cases. In short, essential for a well-functioning
                  IT service within an organization.
                </p>
              </div>
            </div>

            <!-- Card #2 -->
            <div class="full-stack-roles-blocks">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic2.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>ICT Service Administrator - <span>MBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  An ICT administrator manages an organization's IT
                  infrastructure, including networks and servers. They provide
                  technical support, ensure security against cyberthreats,
                  manage software licenses, implement backups and keep abreast
                  of technological developments for strategic decisions.
                </p>
              </div>
            </div>

            <!-- Card #3 -->
            <div class="full-stack-roles-block">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic3.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>Data Scientist - <span>MBO & HBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  A Data Scientist collects, cleans and analyzes data from
                  various sources. They use advanced analytics and data
                  visualization to discover trends and gain insight. They
                  predict trends and provide valuable information. They support
                  data-driven decisions within an organization.
                </p>
              </div>
            </div>

            <!-- Card #4 -->
            <div class="full-stack-roles-block">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic4.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>Software Developer - <span>MBO & HBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  A Software Developer designs, develops, implements and
                  maintains software applications. Cooperation and documentation
                  are important for the quality and maintainability of the
                  software. In short, they deliver high-quality software
                  solutions that meet customer and user needs.
                </p>
              </div>
            </div>

            <!-- Card #5 -->
            <div class="full-stack-roles-block">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic5.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>ICT Consultant - <span>HBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  An IT consultant advises organizations on IT strategy and
                  infrastructure. They analyze current systems, design solutions
                  and supervise implementations of new technologies. They offer
                  tailor-made solutions and support organizations in the
                  effective use of technology.
                </p>
              </div>
            </div>

            <!-- Card #6 -->
            <div class="full-stack-roles-block">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic6.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>Database Specialist - <span>MBO & HBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  We often store data used by an application in a database. A
                  database specialist, or database administrator, designs,
                  implements, manages and secures databases. Their role is
                  critical to the integrity and availability of data within the
                  organization.
                </p>
              </div>
            </div>

            <!-- Card #7 -->
            <div class="full-stack-roles-block">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic7.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>Management - <span>HBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  An Operations Manager manages day-to-day IT operations and
                  optimizes processes to increase productivity, including budget
                  and resource management. A Project Manager plans, coordinates
                  and leads specific IT projects, sets goals, manages resources
                  and communicates with stakeholders for successful project
                  delivery.
                </p>
              </div>
            </div>

            <!-- Card #8 -->
            <div class="full-stack-roles-block">
              <div class="roles-card-outer">
                <div class="roles-card">
                  <img
                    src="{{ url_for('static', filename='images/full_it_stack_roles_ic8.svg') }}"
                    alt=""
                  />
                  <div class="title">
                    <h5>Business Analyst - <span>HBO</span></h5>
                    <!-- <h6>102 jobs available</h6> -->
                  </div>
                </div>
                <p>
                  A Business Process Analyst is crucial for analyzing, modeling
                  and optimizing business processes to improve efficiency and
                  productivity. They identify bottlenecks, collect requirements
                  and suggest improvements. Stakeholder collaboration and report
                  generation drive sustainable improvements within an
                  organization.
                </p>
              </div>
            </div>
          </div>

          <!-- Mobile Version -->
          <div class="swiper full-stack-slider-wrp d-md-none">
            <div class="swiper-wrapper d-md-none">
              <!-- Slide#1 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic1.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>ICT Service Desk - <span>MBO</span></h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      An IT service desk employee provides technical support to
                      users and registers incidents. They coordinate and guide
                      users in IT use and ensure satisfaction through follow-up
                      of outstanding cases. In short, essential for a
                      well-functioning IT service within an organization.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Slide#2 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic2.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>ICT Service Administrator - <span>MBO</span> </h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      An ICT administrator manages an organization's IT
                      infrastructure, including networks and servers. They
                      provide technical support, ensure security against
                      cyberthreats, manage software licenses, implement backups
                      and keep abreast of technological developments for
                      strategic decisions.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Slide#3 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic3.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>Data Scientist - <span>MBO & HBO</span></h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      A Data Scientist collects, cleans and analyzes data from
                      various sources. They use advanced analytics and data
                      visualization to discover trends and gain insight. They
                      predict trends and provide valuable information. They
                      support data-driven decisions within an organization.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Slide#4 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic4.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>Software Developer - <span>MBO & HBO</span></h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      A Software Developer designs, develops, implements and
                      maintains software applications. Cooperation and
                      documentation are important for the quality and
                      maintainability of the software. In short, they deliver
                      high-quality software solutions that meet customer and
                      user needs.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Slide#5 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic5.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>ICT Consultant - <span>HBO</span></h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      An IT consultant advises organizations on IT strategy and
                      infrastructure. They analyze current systems, design
                      solutions and supervise implementations of new
                      technologies. They offer tailor-made solutions and support
                      organizations in the effective use of technology.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Slide#6 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic6.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>Database Specialist - <span>MBO & HBO</span></h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      We often store data used by an application in a database.
                      A database specialist, or database administrator, designs,
                      implements, manages and secures databases. Their role is
                      critical to the integrity and availability of data within
                      the organization.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Slide#7 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic7.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>Management - <span>HBO</span></h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      An Operations Manager manages day-to-day IT operations and
                      optimizes processes to increase productivity, including
                      budget and resource management. A Project Manager plans,
                      coordinates and leads specific IT projects, sets goals,
                      manages resources and communicates with stakeholders for
                      successful project delivery.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Slide#8 -->
              <div class="swiper-slide">
                <div class="full-stack-block">
                  <div class="tools-wrp">
                    <div class="roles-card">
                      <img
                        src="{{ url_for('static', filename='images/full_it_stack_roles_ic8.svg') }}"
                        alt=""
                      />
                      <div class="title">
                        <h5>Business Analyst - <span>HBO</span></h5>
                        <!-- <h6>102 jobs available</h6> -->
                      </div>
                    </div>
                    <p>
                      A Business Process Analyst is crucial for analyzing,
                      modeling and optimizing business processes to improve
                      efficiency and productivity. They identify bottlenecks,
                      collect requirements and suggest improvements. Stakeholder
                      collaboration and report generation drive sustainable
                      improvements within an organization.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Full IT Stack Roles -->

      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="footer-cnt">
                <img
                  src="{{ url_for('static', filename='images/footer-logo.svg') }}"
                  alt=""
                />
                <!-- <img src="../static/images/footer-logo.svg" alt="" /> -->

                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor
                </p>

                <div class="f-cntbx">
                  <h6>Phone</h6>
                  <a href="tel:85558155656">
                    <h3>+85 558 155 656</h3>
                  </a>
                </div>

                <div class="f-cntbx">
                  <h6>Email address</h6>
                  <a href="mailto:Contact@educlode.com">
                    <h3>Contact@educlode.com</h3>
                  </a>
                </div>

                <div class="quicklinks">
                  <ul>
                    <li><a href="/online-training">Online training</a></li>
                    <li><a href="/platform">Platform</a></li>
                    <li><a href="/certification">Certification</a></li>
                    <li><a href="/team">Teams</a></li>
                    <li><a href="/solutions">Build solutions</a></li>
                    <li><a href="/full-it-stack">Full IT Stack</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="footer-contact">
                <h3>Contact Us</h3>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed
                  diam nonumy eirmod tempori
                </p>

                <form>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input
                          type="text"
                          name=""
                          placeholder="Full Name"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input
                          type="text"
                          name=""
                          placeholder="Email"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          placeholder="Messages"
                          rows="5"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn-main">SUBMIT</button>
                </form>
              </div>
            </div>
          </div>

          <div class="mobile-footer">
            <div class="social-bx">
              <a href="#" target="_blank"
                ><img
                  src="{{ url_for('static', filename='images/social1.svg') }}"
                  alt=""
              /></a>
              <a href="#" target="_blank"
                ><img
                  src="{{ url_for('static', filename='images/social2.svg') }}"
                  alt=""
              /></a>
              <a href="#" target="_blank"
                ><img
                  src="{{ url_for('static', filename='images/social3.svg') }}"
                  alt=""
              /></a>
              <a href="#" target="_blank"
                ><img
                  src="{{ url_for('static', filename='images/social4.svg') }}"
                  alt=""
              /></a>
            </div>
            <div class="tersm">
              <ul>
                <li><a href="#">Privecy Policy</a></li>
                <li><a href="#">Trams & Conditions </a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <p>Alright reserved © 2020 educloud</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="social-bx">
                <a href="#" target="_blank"
                  ><img
                    src="{{ url_for('static', filename='images/social1.svg') }}"
                    alt=""
                /></a>
                <a href="#" target="_blank"
                  ><img
                    src="{{ url_for('static', filename='images/social2.svg') }}"
                    alt=""
                /></a>
                <a href="#" target="_blank"
                  ><img
                    src="{{ url_for('static', filename='images/social3.svg') }}"
                    alt=""
                /></a>
                <a href="#" target="_blank"
                  ><img
                    src="{{ url_for('static', filename='images/social4.svg') }}"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="tersm">
                <ul>
                  <li><a href="#">Privecy Policy</a></li>
                  <li><a href="#">Trams & Conditions </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Footer -->

      <!-- Go To Top -->
      <button id="myBtn" title="Go to top">
        <i class="fal fa-angle-up" aria-hidden="true"></i>
      </button>
    </div>

    <!-- script -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- <script src="jquery.min.js"></script> -->
    <!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- End script -->
  </body>
</html>
